:global{
    .wrap_await{
        width: 100%;
        height: 747px;
        background: rgb(240, 240, 240);
    }

    .boxt_text{
        width: 100%;
        height: 500px;
        background: red;
    }
}